<div class="_login_container">
  <div class=_login_card>
    <div class="_login_content">
      <h1>Log in to e-Mainter</h1>
      <form [formGroup]="loginForm" (ngSubmit) = onSubmit()>
      <!-- <label for="name">Username</label> -->
      <mat-form-field>
        <input class = "uname" placeholder = "Username" type="text" id="name" matInput formControlName="userName">
      </mat-form-field>
      <br>
      <mat-form-field>
        <input class= "pwd" placeholder = "Password" type="password" id="pass" matInput formControlName="passWord">
      </mat-form-field>
      <div mat-dialog-actions class="mat-dialog-actions">
      <button mat-button type="submit" [disabled]="!loginForm.valid" mat-flat-button color="primary">Login</button>
    </div>
      </form>
    </div>
  </div>
</div>
<ngx-spinner></ngx-spinner>
