/* You can add global styles to this file, and also import other style files */
@import '~ngx-toastr/toastr';

html{
  background-color: lightcyan;
}
html,body{
  width:100%;
  height:95%;
  margin: 0;
  padding: 0;
}
*,html {
  font-family: 'Lato', sans-serif;
  box-sizing: border-box;
}

._panel_container{
  display:flex;
  height:100%;
  width:100%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

._full_panel{
  display: flex;
  flex:.75;
  height:90%;
  /* border: solid 2px blue; */
  flex-direction: column;
  flex-wrap: nowrap;
  background-color: lightskyblue;
  box-shadow: 5px 5px 5px #888888;
  border-radius: 4px;
  justify-content: flex-start;
  /* align-items: center; */
}
